<div class="box">
  <div class="columns is-multiline is-mobile">
    <div class="column is-one-third">
      <label class="label">
        Name : </label>
    </div>
    <div class="column is-half">
      <label class="label">
        {{citizen?.firstName}} {{citizen?.secondName}} {{citizen?.thirdName}} {{citizen?.lastName}}
      </label>
    </div>
  </div>
  <div class="columns is-multiline is-mobile">

    <div class="column is-one-third">
      <label class="label">
        National Id :
      </label>
    </div>
    <div class="column is-half">
      <label class="label">
        {{citizen?.id}}
      </label>
    </div>
  </div>
  <div class="columns is-multiline is-mobile">

    <div class="column is-one-third">
      <label class="label">
        Date Of Birth :
      </label>
    </div>
    <div class="column is-half">
      <label class="label">
        {{citizen?.dateofBirth}}
      </label>
    </div>
  </div>
  <div class="columns is-multiline is-mobile">

    <div class="column is-one-third">
      <label class="label">
        Place Of Birth :
      </label>
    </div>
    <div class="column is-half">
      <label class="label">
        {{citizen?.placeOfBirth}}
      </label>
    </div>
  </div>


</div>
<hr>
<div class="box">
  <div class="column is-one-third">
    <label class="label">
      Address :
    </label>
  </div>
  <div class="column is-half">
    <label class="label">
      {{citizen?.address}}
    </label>
  </div>
  <div class="columns is-multiline is-mobile">

    <div class="column is-one-third">
      <label class="label">
        Gender :
      </label>
    </div>
    <div class="column is-half">
      <label class="label">
        {{citizen?.gender}}
      </label>
    </div>
  </div>
  <div class="columns is-multiline is-mobile">

    <div class="column is-one-third">
      <label class="label">
        Stauts :
      </label>
    </div>
    <div class="column is-half">
      <label class="label">
        {{citizen?.stauts}}
      </label>
    </div>
  </div>
  <div class="columns is-multiline is-mobile">

    <div class="column is-one-third">
      <label class="label">
        Blood Group :
      </label>
    </div>
    <div class="column is-half">
      <label class="label">
        {{citizen?.bloodGroup}}
      </label>
    </div>
  </div>
  <div class="columns is-multiline is-mobile">

    <div class="column is-one-third">
      <label class="label">
        Father ID :
      </label>
    </div>
    <div class="column is-half">
      <label class="label">
        {{citizen?.fatherId}}
      </label>
    </div>
  </div>
  <div class="columns is-multiline is-mobile">

    <div class="column is-one-third">
      <label class="label">
        Mother ID :
      </label>
    </div>
    <div class="column is-half">
      <label class="label">
        {{citizen?.motherId}}
      </label>
    </div>
  </div>
  <div class="columns is-multiline is-mobile">

    <div class="column is-one-third">
      <label class="label">
        DNA :
      </label>
    </div>
    <div class="column is-half">
      <label class="label">
        {{citizen?.dnaPrint}}
      </label>
    </div>

  </div>
