<div class="columns is-multiline is-mobile">

  <div class="column is-one-quarter">

  </div>
  <div class="column is-one-quarter">

  </div>

</div>
<div class="field">
  <label class="label">
    Search
  </label>
  <div class="control">
    <input class="input is-large" [(ngModel)]="searchTerm" type="text" #search placeholder="Search here">
  </div>
</div>
<div class="control">
  <!-- <label class="radio">
    <input type="radio" value=1 [(ngModel)]="searchBy" name="rsvp"> By ID
  </label> -->
  <label class="radio">
    <input type="radio" value=2 checked name="rsvp"> BY DNA </label>
  <!-- <label class="radio">
    <input type="radio" name="rsvp"> By Name
  </label> -->
</div>

<a class="card-footer-item button is-primary has-text-centered " (click)="onSearch()">Search</a>
<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>ID</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of data ; let i =index">


      <td>{{i+1}}</td>
      <td>{{item.id}}</td>
      <td>
        <a class="button is-primary is-fullwidth " (click)="onShowCitizenData(item.id)">
          <span>View full data</span>
        </a>
      </td>

    </tr>



  </tbody>
</table>
