<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">

      <div class="content">
        <h1 class="title"> How blockchain can help </h1>
        <p>
          <p> Based on the
            <strong> CSIRO’s study,</strong>
            government bodies that implement blockchain can resolve some key issues:

          </p>
          <div class="has-text-left	">

            <ol>

              <li>
                <strong>Data integrity.</strong>
                Without a central authority keeping all the data, validating nodes in the blockchain have to agree on a universal truth.</li>
              <li>
                <strong>High availability.</strong>
                Having data in a blockchain opens the architecture to redundancies, removing the risk of a single point of failure.</li>
              <li>
                <strong>Interoperability.</strong> Data in a blockchain share infrastructure, so referencing data is made easier.</li>
              <li>
                <strong>Reduced latencies.</strong>
                Blockchains can have local nodes, so data transfer is faster. Ease of adding providers. In a public blockchain, providers
                are able to join the network independently.</li>
            </ol>
          </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">

      <div class="content">
        <h1>Why using DNA :</h1>
        <p>
          Simply You can ditch your computer and leave your cellphone at home, but you can't escape your DNA.</p>
      </div>
    </div>
  </div>
</section>

<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">

      <div class="content">
        <h1>Use cases :</h1>
        <ul>
          <ol>

            <strong>
              In crime
            </strong> Few would disagree about the power of DNA to catch criminals — and to clear the innocent. Hundreds
            of wrongly convicted people around the world have been freed thanks to DNA tests. A recent AP investigation found
            that at least 24 men in the United States convicted of or charged with murder or rape based on bite marks on
            the flesh of victims have been exonerated since 2000, thanks to DNA evidence.
          </ol>
          <ol>
            <strong> Homeless and lost children : </strong>
            Using DNA Ledger ID would help to know the identity for those children and bring them back to their families.
          </ol>
          <ol>
            <strong>Amnesia: </strong> Where person can’t help the authorities with the basic data to help them to bring him back
            to his family using DNA Ledger ID will facilitate and speed up this operation compared with the traditional way.

          </ol>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">

      <div class="content">
        <h1> Issues with the project :
        </h1>
        Government acceptance to store the identities of her citizens. Legislations that prevent governments for attacking the privacy
        of their citizen and store their DNA data. Human rights concerns about DNA database and breaking their privacy. How
        we solve these issues partially: For any privacy issue : the DNA data are stored securely hashed based on sha 256
        algorithm. Saving the original data will be off-chain if the the citizen agreed to keep it and government accept
        that. For the government acceptance: There so many countries including Egypt , UAE , USA , Estonia and lots of others
        who provide national databases for genome ,and some intend to adopt regarding to Forensic Genetics Policy Initiative
        wiki pge. For the legislations : Saving the DNA is not forced in our project. You can store DNA data according to
        country legislations.



      </div>
    </div>
  </div>
</section>
